<ion-header class="ion-no-margin no-padding-top">
  <ion-toolbar class="ion-no-margin ion-margin-bottom ion-color-dark"
    [class.transparent]="isThereImageContent() && makeTransparent" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/charmed-circle/community/{{ areaId }}/{{ communityId }}/post-list"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="post && (!isThereImageContent()) || (isThereImageContent() && !makeTransparent)">{{ post.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.no-padding-top]="isThereImageContent()" fullscreen="true" (ionScroll)="onScroll($event)" [scrollEvents]="true">

  <ion-img *ngIf="isThereImageContent()" [src]="post.imageUrls[0]" #postImg></ion-img>

  <ng-container *ngIf="post else postSkeleton">
    <div class="ion-padding-start ion-padding-end ion-padding-bottom">
      <h2>{{ post.title }}</h2>
      <ion-text color="medium" *ngIf="post.subtitle"><h4>{{ post.subtitle }}</h4></ion-text>
  
      <p class="content-wrap">
        {{ post.content }}
      </p>

      <ion-button fill="clear" [color]="postService.alreadyThumbsUp(post) ? 'tertiary' : 'primary'" (click)="thumbsUp()">
        <ion-icon name="thumbs-up" slot="start"></ion-icon>
        {{ post.thumbsUpCount == 0 ? 'Like' : post.thumbsUpCount }}
      </ion-button>
    </div>

    <ion-card>

      <ion-item *ngIf="post.user as user else userInfoSkeleton" lines="full" detail="true" routerLink="/charmed-circle/user-profile/{{ user.uid }}">
        <ion-avatar slot="start"><ion-img [src]="user.photoURL"></ion-img></ion-avatar>
        <ion-label>
          {{ user.displayName }}
          <p>{{ user.email }}</p>
        </ion-label>
      </ion-item>
      <ng-template #userInfoSkeleton>
        <ion-item lines="full">
          <ion-avatar slot="start"><ion-skeleton-text animated></ion-skeleton-text></ion-avatar>
          <ion-label>
            <ion-skeleton-text animated width="60%"></ion-skeleton-text>
            <p><ion-skeleton-text animated width="40%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
      </ng-template>

      <ion-item>
        <ion-icon slot="start" name="time"></ion-icon>
        <ion-label>{{ post.timestamp | date:'medium' }}</ion-label>
      </ion-item>
      <ion-item lines=full *ngIf="community else communitySkeleton">
        <ion-icon slot="start" name="contacts"></ion-icon>
        <ion-label>{{ community.name }} <p>{{ community.subtitle }}</p></ion-label>
      </ion-item>
      <ion-item lines="full" *ngIf="communityArea else communitySkeleton">
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-label>{{ communityArea.city + ', ' + communityArea.state + ', ' + communityArea.country }} ({{ communityArea.countryCode }})</ion-label>
      </ion-item>

      <ng-template #communitySkeleton>
        <ion-item lines=full>
          <ion-icon slot="start"><ion-skeleton-text animated></ion-skeleton-text></ion-icon>
          <ion-label><ion-skeleton-text animated width="40%"></ion-skeleton-text> <p><ion-skeleton-text animated width="80%"></ion-skeleton-text></p></ion-label>
        </ion-item>
      </ng-template>
    </ion-card>
  </ng-container>

  <ng-template #postSkeleton>
    <div class="ion-padding-start ion-padding-end ion-padding-bottom">
      <h2><ion-skeleton-text animated width="40%"></ion-skeleton-text></h2>
      <ion-text color="medium"><h4><ion-skeleton-text animated width="80%"></ion-skeleton-text></h4></ion-text>
  
      <p>
        <ion-skeleton-text animated width="100%"></ion-skeleton-text>
        <ion-skeleton-text animated width="100%"></ion-skeleton-text>
        <ion-skeleton-text animated width="100%"></ion-skeleton-text>
      </p>
      <br>
      <p>
        <ion-skeleton-text animated width="100%"></ion-skeleton-text>
        <ion-skeleton-text animated width="100%"></ion-skeleton-text>
        <ion-skeleton-text animated width="100%"></ion-skeleton-text>
      </p>

      <ion-card>
        <ion-item>
          <ion-icon><ion-skeleton-text animated></ion-skeleton-text></ion-icon>
          <ion-label><ion-skeleton-text animated width="50%"></ion-skeleton-text></ion-label>
        </ion-item>
  
        <ion-item lines="full">
          <ion-avatar slot="start"><ion-skeleton-text animated></ion-skeleton-text></ion-avatar>
          <ion-label>
            <ion-skeleton-text animated width="60%"></ion-skeleton-text>
            <p><ion-skeleton-text animated width="40%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
  
        <ion-item lines=full>
          <ion-icon slot="start"></ion-icon>
          <ion-label><ion-skeleton-text animated width="40%"></ion-skeleton-text> <p><ion-skeleton-text animated width="80%"></ion-skeleton-text></p></ion-label>
        </ion-item>
        <ion-item lines=full>
          <ion-icon slot="start"></ion-icon>
          <ion-label><ion-skeleton-text animated width="40%"></ion-skeleton-text> <p><ion-skeleton-text animated width="80%"></ion-skeleton-text></p></ion-label>
        </ion-item>
      </ion-card>
    </div>
  </ng-template>

</ion-content>
