<ion-tabs class="no-padding-top">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="post-list">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Posts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="question-list">
      <ion-icon name="help-circle"></ion-icon>
      <ion-label>Q&A</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discussion-list">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Discussions</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>