/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  //font-family: 'Comfortaa', cursive;
  font-family: 'Raleway', sans-serif;
}

.ion-page > *:first-child:not(.no-padding-top), ion-menu > *:first-child > *:first-child {
  padding-top: 22px;
}

ion-textarea[auto-grow=true] > textarea{
  min-height: 200px;
}

.active-item {
  --background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.profile-picture{
  width: 40%;
  margin: 5px;
  border: 5px solid #c3cfe2;
  border-radius: 50%;
}

hr {
  border-bottom: .4px solid black;
  height: 1px;
  margin: 40px 0;
}


ion-header {
  width: initial;
  border: none;
}
.header-md:after{
  width:0; height: 0;
  background-image: none;
}
/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
  --border-width: 0;
}

ion-toolbar {
  border-radius: 8px;
  margin: 10px 10px 10px 10px;
  width: initial;
  --min-height: 40px;
  
  &.outline {
    background-color: var(--ion-color-contrast) !important;
    box-shadow: 0px 0px 5px var(--ion-color-shade);
    color: var(--ion-color-shade);
  }
}

ion-toolbar.transparent {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.ion-page:has(* > ion-content.margin-top) {
  margin-top: 22px;
}

.text-sm {
  font-size: small;
}

img.no-content-placeholder{
  width:40%;
  min-width: 220px;
}

a.no-decoration {
  text-decoration: none;
}

ion-chip ion-icon, .align {
  vertical-align: top;
}

ion-card-title ion-chip{
  vertical-align: bottom;
  margin-top: 0px;
}

.content-wrap {
  white-space: pre-wrap;
}

ion-app {
  /*animation of native keyboard show*/
  transition: margin 300ms;
}