<ion-header>
  <ion-toolbar class="ion-color-dark outline">
    <ion-title>
      Charmed Circle (Trial)
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="authService.logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
